#ceremony {
  background-color:#49525D;
  color: #FFFFFF;
  padding: 2rem 2rem;
}

#welcome{

}

#timer{
  padding-top: 2rem;
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
}

.timer {
  text-align: center;
  padding: 1rem;
}


#numbers{
  margin: 1rem;
}

#ceremony h2{
  font-family: 'Merriweather', serif;
}


@media (max-width: 991px) {
  #left {
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-top: 0px;
    border-style: solid;
    border-color: #FFF;
  }
  
  #right {
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 1px;
    border-style: solid;
    border-color: #FFF;
  
    /* text-align: right; */
  }
}

@media (min-width: 991px) {
  #left {
    border-right: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-top: 0px;
    border-style: solid;
    border-color: #FFF;
  }
  
  #right {
    border-right: 0px;
    border-bottom: 0px;
    border-left: 1px;
    border-top: 0px;
    border-style: solid;
    border-color: #FFF;
  
    /* text-align: right; */
  }
}