.bg {
  background: url("../img/hero_small.jpeg") no-repeat center center;
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: -1;

/* making triangle shape on bottom
  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0); */

}

#hero {
  height: 600px;
  color: white;
  text-align: center;
  text-shadow: #444 0 1px 1px;
  margin-top: 200px;
  margin-bottom: 0px;
  background:transparent;
}

.jumbotron .display-3{
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
}
.jumbotron .display-2{
  font-family: 'Merriweather', serif;
  font-size: 4rem;
}

.jumbotron .lead{
  font-size: 1rem;
}

@media (min-width: 1458px) {
  .jumbotron .display-3{
    font-size: 4rem;
  }
  .jumbotron .display-2{
    font-size: 6rem;
  }

  .jumbotron .lead{
    font-size: 3rem;
  }
  .bg{
    background: url("../img/hero.jpg") no-repeat center center;
    /* position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: -1; */
    background-size: 100%;
  }
}
